div(class='footer-container ')
	ul(class="ed-grid m-grid-3 rows-gap")
		- for(i=0 ; i < footer.length; i++)
			li: a(href=`${footer[i].link}`)= footer[i].name 
	div(class="author")
		div(class="jazz-div")
			span powered by JazzGS 
			img(src="assets/img/powered-jgs.png", alt="Jazz")
