div(class='footer-container ')
	ul(class="ed-grid m-grid-3 rows-gap")
		- for(i=0 ; i < footer.length; i++)
			li: a(href=`${footer[i].link}`)= footer[i].name 
	div(class="author")
		div(class="jazz-div")
			span powered by JazzGS 
			img(src="assets/img/powered-jgs.webp", alt="Jazz")

div(class="modal-container" id="modal-container")
	div(class="modal-container-body")
		div(class="modal-container-close")
			p Ingreso de Usuario
			button(id="close") X
		div(class="modal-container-content")
			form
				div(class="form-item")
					label(for="user") Usuario
					br
					input(type="text" name="user") 
				div(class="form-item")
					label(for="password") Contraseña
					br
					input(type="text" name="password")
				div(class="form-item")
					a(href="register.html" class="btn sign-up")  Registrarse
					button(class="btn login") Ingresar

