div(class="prefooter-container ed-grid s-grid-1")
	div(class='container__slider')
			div(class='tns-single ' id='tnsSinglePrefooter')
				button#customize-toggle3
				-for(var i = 0; i < prefooter.length ; i++)
					div: div(class='tns-single__content'): img(src=`${prefooter[i].img}`)
