div(class="prefooter-container ed-grid s-grid-1")
	img(class="image-display-mobile" src="assets/img/banking.png", alt="banking")
	img(class="image-display-desktop" src="assets/img/banking-desktop.jpg", alt="banking")
