div(class="container")
		div(class='ed-grid s-grid-4 rows-gap')
			div(class='s-cols-4 l-cols-3')
				div(class='container__slider tns-mobile')
					div(class='tns-single ' id='tnsSingleMobile')
						-for(var i = 0; i < slides.length ; i++)
							div: div(class='tns-single__content'): img(src=`${slides[i].link}`, alt=`${slides[i].name}`)
				div(class='container__slider tns-desktop')
					div(class='tns-single' id='tnsSingleDesktop')
						-for(var i = 0; i < slidesDesktop.length ; i++)
							div: div(class='tns-single__content'): img(src=`${slidesDesktop[i].link}`, alt=`${slidesDesktop[i].name}`)
			div(class='container__signup s-cols-4 l-cols-1 ')
					form
						div.form__item
							label(for="user") Usuario
							br
							input(type="text" name='user') 
						div.form__item
							label(for="pasword") Contraseña
							br
							input(type="text" name='pasword') 
						div.form__item
							button.form__item--sign-up INGRESAR
							button.form__item--login REGISTRATE
						div.form__item: a(href="#") ¿Olvido su contraseña? 
