nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/sb-logo.png', alt='logo', class='top-nav__logo')
		ul(class='top-nav__menu')
			-for(var i = 0; i < menu.length ; i++)
				li(class='top-nav__li'): a(href=`${menu[i].link}`, class='top-nav__anchor')=menu[i].name
			button(class='top-nav__language'): img(src='assets/img/lang-flag.png', alt="")
				
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner
