//layout
:root {
  --header-height 		: 4.938rem;
  @include from(l) {
    --header-height 	: 4.938rem;
  }
	//native color vars
	--main-color      	: #35df97;
	--secondary-color	: #F8D213;
	--background 		: #222;
}
// Sass Color Vars
$color-first 			: var(--color-first			);


*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}
